{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Learning Log</title>
  {% bootstrap_css %}
</head>
<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'learning_logs:index' %}">Learning Log</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'learning_logs:topics' %}">Topics</a>
          </li>
        </ul>

        <ul class="navbar-nav">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <span class="nav-link">Olá, {{ user.username }}.</span>
            </li>
            <li class="nav-item">
              <form method="post" action="{% url 'users:logout' %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="nav-link btn btn-link">Sair</button>
              </form>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:register' %}">Registrar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:login' %}">Entrar</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <main class="container">
    {% block content %}{% endblock content %}
  </main>

  {% bootstrap_javascript %}
</body>
</html>